h1 {
    color:gold;
    background-color: black;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    color:yellow;
    background-color: black;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}
h4 {
    color:blue;
    background-color: black;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}
p {
    color:yellowgreen;
    background-color: black;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
a {
    color:darkblue;
    background-color: black;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 400px;
}
#spanId {
    font-size: 18px;
    margin: 50px;
    color:white;
    background-color: black;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-image: url("https://www.ayurvedamesana.com/images/blog/ayurveda-pitta-calor.jpeg");
}
div {
    text-align: center;
}